@font-face {
    font-family: "Jost";
    src: url("../fonts/jost/Jost-VariableFont_wght.ttf") format("truetype");
}


.Jost {
    font-family: "Jost", sans-serif;
}

/*::-webkit-scrollbar {*/
/*    background-color: #0c202d;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background-color: #5e93a3;*/
/*}*/